
<p class="mt-8 text-center text-sm text-gray-600">
    <% if (isLoginPage) { %>
        Don't have an account? <a href="/signup" class="font-medium text-indigo-600 hover:text-indigo-500">Sign up</a>
    <% } else { %>
        Already have an account? <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Sign in</a>
    <% } %>
</p>